html {
  scroll-behavior: smooth;
}

/* header {
  height: 100vh;
} */

.hero-content {
  width: 50%;
  text-align: center;
  color: black;
}

a.hero-content{
  background-color: rgb(0, 0, 0, 0.6);
  text-decoration: none;
  color: #fff;
}

h2.hero-content{
  color:red;
}


p {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 27px;
  line-height: 35px;
}

a {
  margin-top: 30px;
  margin-right:10px;
/*  background-color: rgb(0, 0, 0, 0.6);*/
  padding: 10px;
/*  text-decoration: none;*/
/*  color: #fff;*/
  display: inline-block;
}

/*span .font-pair1a{
  font-family: 'Merriweather', serif;
}

span .font-pair1b{
  font-family: 'Merriweather+Sans', sans-serif;
}*/


/*my css*/

.hero-background {
/* HOW DO I PUT IMAGE BEHIND TEXT position:relative;*/
  background: url("https://images.pexels.com/photos/1572386/pexels-photo-1572386.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
  filter: brightness(115%) opacity(60%) grayscale(100%);
/*  filter: contrast(217%);*/
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.hero{
  font-size: 32px;
  line-height: 41px;
}

.first-section-background {
  background: url("https://images.pexels.com/photos/1000366/pexels-photo-1000366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed right;
  filter: brightness(115%) opacity(60%) grayscale(100%);
}

.second-section-background {
  background: url("https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed bottom;
  filter: brightness(115%) opacity(60%) grayscale(100%);
}

.third-section-background {
  background: url("https://images.pexels.com/photos/971546/pexels-photo-971546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed top right;
  filter: brightness(115%) opacity(60%) grayscale(100%);
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1{
  font-size:42px;
  line-height:72px;
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
}

h2{
  font-size:28px;
  font-family:'Courier New', Courier, monospace;
}

h3{
  font-family:'Courier New', Courier, monospace;
  font-size:69px;
  letter-spacing:1px;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container {
  background-color: white;

}

.second-article-container {
  background-color: white;
}

.third-article-container {
  background-color: white;
}