html {
    scroll-behavior: smooth;
  }

  body {
    font-family:'Courier New', Courier, monospace
    margin: 0;
  }

  header{
    height:100vh;
  }

  .hero-content{
    width: 50%;
    text-align: center;
    color:#000
    t
  }

  h1{

  }

  h2{

  }